/*--------------- GENERAL ------------------- */
body{
  font-family: 'Lato', serif;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a:link, a:visited{
    color: #C71585;
}
a:hover {
    color: #ff69b4 ;
}
a:active {
    color: #C71585;
}

em {
  /*background: black;*/
  color: black;
  padding:3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
}

.footer {
    padding: 10px;
    background-color: #fff;
}

.artist-text, .intro-text, .image-summary, .download, .share-options, .donate {
  background-color: #ccc;
}

.btn{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  border:1px solid #C71585;
}

.btn:link, .btn:visited{
  color: #ffffff;
  background-color: #C71585;
}

.btn:hover{
  color: #C71585;
  background-color: #cccccc;
}



/*--------------- Navbar ---------------- */
.navigation{
  margin-top: 10px;
  padding-bottom: 5px;
}
.site-title{
  font-size: 1.8em;
}

.site-title a:link, .site-title a:visited {
  color: black;
}

.nav-area{
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

.nav-area li{
  display: inline;
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

/*--------------- Index view -------------- */

.intro-text {
  padding-top: 30px;
  padding-bottom: 20px;
}

.intro-text p{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  line-height: 40px;
  margin-top: 10px;
  font-family: Sanchez,Georgia,Cambria,"Times New Roman",Times,serif;
  text-align: center;
}

.work-image{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.work-info{
  padding-top: 15px;
}

.work-info .month{
  font-size: 1.4em;
  color: #999;
}

.work-info .title{
  font-size: 1.6em;
  font-weight: bold;
}

.work-info .artist-name{
  font-size: 1.4em;
  color: #999;
  font-weight: bold;
}

.artist-text{
  padding-top: 15px;
}

.artist-text p {
  max-width: 800px;
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
  font-family: Sanchez,Georgia,"Times New Roman",Times,serif;
  margin-top: 30px;
}

.social-media-list li {
  display: inline;
}

.social-media-i i{
  padding: 10px;
}

.social-media-list a:link, .social-media-list a:visited{
  color: #999;
}

.social-media-list a:hover {
  color: #ff69b4;
}

.get-artwork-btn{
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
/*--------------- Download view -------------- */


/*--------------- Contact Modal -------------- */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 420px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header .close-me{
  float: right;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}


.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
