{% extends "templates/_pages.html" %} {% block content %}

    <div class="container-fluid">
      <div id="about-text">
        <!-- <p id="about-intro"> <strong> Infinite Industries </strong>is an experimental, digital platform that makes high-quality, contemporary art accessible to everyone.
            <br>
            <br>
            <a href="#">Tool-making </a> |
            <a href="#">Download </a> |

            <a href="#">Distributing Information </a> |
            <a href="#">Curation </a>
        </p> -->

        <h3> Who are "we?"</h3>

        <p>
            Infinite Industries is an organization created by Dima Strakovsky and a number of amazing friendly forces. Dima has worked extensively in the tech and design industry; he has also produced, taught, and curated art for over a decade. This project is a 501(c)(3) non-profit.
        </p>
        <p>
            During his years running an <a href="http://bit.ly/2ii2n2l">art space</a>, Dima came to strongly believe that there are better ways to experience art than just in brick-and-mortar galleries. He also wanted to reach a more diverse audience, particularly those outside major urban areas. Luckily, the aforementioned friendly forces agreed with him, and now are actively involved in bringing this art to you. The content is intellectually challenging, high-quality, and never watered-down.
        </p>

        <h3> What do you mean when you say "contemporary" art? </h3>

        <p>
            Contemporary art is a term taken for granted within inner art circles, but what does it mean? Put simply, contemporary art is art that is being made right now. Technically, we could call this kitten poster “contemporary art.” Its meaning, however, can change based on the environment surrounding it.
        </p>
        <p>
            Contemporary art also builds off of the works of its predecessors. It takes previous works and uses them as a context to evolve from.
        </p>
        <p>
            Take the images below: what would the message be if the kitten poster was seen at a protest for animal rights? In a pre-teen’s bedroom? Placing the art in different environments adds to the context of a piece, which the audience can then use to further contemplate the work.
        </p>
        <figure>
            <img src="/images/kitten_gif.gif" class="kitten-gif" />
            <figcaption>Our perception of the kitten changes within different cultural contexts.</figcaption>
        </figure>


        <p>
            Even if the image is abstract, we still view it in the context of previous, similar works--it’s “peers.”
        </p>

        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <img src="http://68.media.tumblr.com/fd18657d992c65082ac85235a0bf6733/tumblr_ohwqf7b7tx1suuc8do1_500.jpg" style="height: 200px;" />
                    <figcaption>El Lisitsky 1920’s</figcaption>
                </figure>

            </div>
            <div class="col-sm-4">
                <figure>
                    <img src="http://cdn1.walkerart.org/public/collections-thumbs/wac_230/740x536.jpeg" style="height: 200px;" />
                    <figcaption>Ellsworth Kelly 1960’s</figcaption>
                </figure>

            </div>
            <div class="col-sm-4">
                <figure>
                    <img src="http://images.tate.org.uk/sites/default/files/styles/grid-normal-8-cols/public/images/tomma-abts-ebe_0.jpg?itok=Jyil_8o0" style="height: 200px;" />
                    <figcaption>Tomma Abst 2000’s</figcaption>
                </figure>
            </div>
        </div>
        <br>
        <p>
            Feel free to <a href="http://infinite.industries/contact.html">reach out</a> with any questions.
        </p>

        <h3> So, really everyone? </h3>
        <p>
            Yes! We aim to keep explanations simple and prices low, and encourage an open, active form of art appreciation where you engage with the work and make it your own.
        </p>
        <p>
            We believe that artists, small and mid-tier galleries, and younger collectors will be the key beneficiaries of this endeavor, but our project can benefit anyone who enjoys art. Most of us don’t have the funds to spend thousands on a piece of art, but that shouldn’t mean that art is exclusive to those with larger cash flows.
        </p>

        <h3>Once I download the digital files, how do I actually use them?</h3>

        <p>
            When you download the artwork, you get a large file that can be printed out as your own copy of the work. The file is made legally available through a <a href="http://infinite.industries/license/limited_license_agreement/">personal production license</a>, which allows you to produce prints of the image for personal use only. In other words, you can make a print to hang on your wall, but you can’t sell it.
        </p>

        <p>
            Included in the download are a number of lower-resolution files that can be used to customize any number of things: phone wallpapers, t-shirts, stickers--even shareable images.
        </p>

        <p>
            If you would like to create wallpaper for your phone or computer, you would need to resize the images. The process is similar for applying it to t-shirts and framed prints, as well as any items you might want to apply it to. We will be providing some tutorials on how to do this and, of course, if you don’t want to resize or adjust the images yourself, we will have several one-click options on our site in the near future.
        </p>

        <h3>I want to make sure my money goes to the artists. How do they get paid?</h3>

        <p>
            Artists get paid in a two-part system. Artists receive a base fee for making their work available on our site. All purchases and donations go towards sustaining and promotion of individual artists’ production.
        </p>

        <h3>Are you guys a for profit company? Who stands to gain if you succeed?</h3>

        <p>
            Nope. We are a 501(c3) non-profit. A large part of our activities is the development of software tools. We release these to the world as open-source, where fellow nerds can look at this code and create their own projects and variations on what we created. It’s kind of like creating and sharing a recipe for your favorite chocolate chip cookies, then letting others bake and taste their own. Sometimes people even create and share their own variations of your recipe.
        </p>

        <p>
            Our goal is to promote and share ideas that reimagine artwork distribution, not to create a category killer.
        </p>

        <h3>
I am an art world insider. I have seen a bunch of projects with similar claims. Is there something new that you are bringing to the table?
</h3>

        <p>
            Yes. Digital-first, open distribution of art is very different from anything that currently defines art market practices. Here is a <a href="http://bit.ly/2hO8BDv">longer explanation</a> that dives a little deeper into the details and context of the market practices.
        </p>

        <p>
            We aim to modernize the distribution of art through digital media, while still maintaining the integrity of the original artwork.
        </p>
      </div>
    </div>


{% endblock %} {% block scripts %} {% endblock %}
