{% extends "templates/_pages.html" %}

{% block content %}

<div class="container-fluid">
  <div class="content-text">

      <p>
        For a look at the curatorial thoughtstream behind the project, <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new">follow us on Instagram</a>. Appreciate all the messages, comments and, of course, hashtags.
      </p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//industries.us13.list-manage.com/subscribe/post?u=55944da642302ef43bc8c0f27&amp;id=e396044372" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe to our mailing list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55944da642302ef43bc8c0f27_e396044372" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
      <p>
        Looking forward to your comments on <a href="https://www.facebook.com/Infinite-Industries-1041120505976874/" target="_new">Facebook</a> and some terse prose on <a href="https://twitter.com/1nfinite_1" target="_new">Twitter</a>.
      </p>

      <p>
        If enjoy longer-form writing, please <a href="https://medium.com/infinite-industries" target="_new">check us out on Medium</a>. Appreciate any highlights, <3 or comments.
      </p>
    </div>
    <div class="col-md-1 hidden-sm"></div>
  </div>

      <!-- Change the width and height values to suit you best -->
    <div class="typeform-widget" data-url="https://1nfinite.typeform.com/to/cGYhih" data-text="Contact" style="width:100%;height:300px;"></div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"><a href="https://www.typeform.com/examples/forms/contact-form-template/?utm_campaign=cGYhih&amp;utm_source=typeform.com-5372126-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-contactform&amp;utm_term=EN" style="color: #999" target="_blank">Contact form</a>powered by Typeform</div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}
