<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Infinite.Industries: March 2017 Release</title>

    <meta property="og:title" content="Infinite Industries" />
    <meta property="og:url" content="https://infinite.industries" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Open Experiments in Art, Code and Culture. Infinite Industries is an experimental digital platform that makes high quality contemporary art accessible to everyone." />
    <meta property="og:image" content="http://infinite.industries/public/images/infinite_logo_open_graph.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@1nfinite_1" />
    <meta name="twitter:title" content="Infinite Industries" />
    <meta name="twitter:description" content="Open Experiments in Art, Code and Culture. Infinite Industries is an experimental digital platform that makes high quality contemporary art accessible to everyone." />
    <meta name="twitter:image" content="http://infinite.industries/public/images/infinite_logo_open_graph.png" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Sanchez|Lato:400,400i,700,700i|Oswald:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<body>

  I am {{current_page}}

  <div class="container-fluid navigation">
    <div class="row">
      <div class="col-xs-1">
        <a href="http://{{domain}}" class="site-brand"><img src="images/site-logo.png" width="40px" height="40px"></a>
      </div>
      <div class="col-sm-4 site-title hidden-xs">
        <a href="http://{{domain}}">Infinite Industries</a>
      </div>
      <div class="col-sm-2 hidden-xs"></div>
      <div class="col-sm-5 col-xs-11">
        <div class="nav-area">
          <ul>
            <li><a href="http://{{domain}}/about">About</a></li>
            <li><a href="https://medium.com/infinite-industries" target="_new">Blog</a></li>
            <li><a href="http://{{domain}}/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    {% block content %}{% endblock %}

  <footer class="footer">
    <div class="footer-area">
      <div class="container text-center">
        <ul class="social-media-list" style="padding-left:0px">
          <li>
            <a href="https://www.facebook.com/Infinite-Industries-1041120505976874/" target="_new" class="social-media-i"><i class="fa fa-facebook-official" style="font-size:40px"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new" class="social-media-i"><i class="fa fa-instagram" style="font-size:40px"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/1nfinite_1" target="_new" class="social-media-i"><i class="fa fa-twitter" style="font-size:40px"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  {% block scripts %}{% endblock %}

</body>
</html>
