<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Infinite.Industries: March-April 2017 Release</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:400,600,700|Arvo" rel="stylesheet">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>
<body>
<!-- app -->
<div id="app">
  <modal-contact v-if="showContactModal" @close="showContactModal = false">

    <h3 slot="header">Contact Us for Artwork Availability and Pricing</h3>

    <p>
      <form @submit.prevent="validateBeforeSubmit">

        <div class="form-group" :class="{'has-error': errors.has('name') }">
          <label class="control-label" for="name">Name:</label>
          <input type="text" placeholder="Your Full Name" name="name" v-model="directContact.name">
          <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
        </div>

        <div class="form-group">
          <label class="control-label" for="email">Email:</label>
          <input type="text" name="email" v-validate="{ inital:'email', rules: { required: true} }" v-model="directContact.email">
        </div>

        <div class="form-group">
          <label class="control-label" for="phone">Phone # (if preferable):</label><br />
          <input type="text" name="phone" v-validate="{ inital:'email', rules: { required: true} }" v-model="directContact.phone">
        </div>

        <div class="form-group">
          <label class="control-label" for="phone">Notes:</label>
          <input type="text" name="notes" v-model="directContact.notes">
        </div>

        <a href="#" @click.prevent="collectDirectContactInfo()" class="btn btn-info send-contact-btn" role="button">CONTACT</a>
      </form>
    </p>
  </modal-contact>

  <modal-download v-if="showDownloadModal" @close="showDownloadModal = false">

    <h3 slot="header">Your Email</h3>
    <p>We will send you the download link to the email address provided</p>
    <div><input type="text" v-model="download.email"></div>
    <div><input type="checkbox" v-model="download.okToPutOnEmailList"> It is OK to occasionally send me updates via this email</div>
    <div><input type="checkbox" v-model="download.agreedToTerms"> I have read and agree to the terms of the license</div>

    <a href="#" class="btn btn-info send-email-btn" role="button" @click.prevent="initiateDownloadProcess()">SEND</a>
  </modal-download>


  <div class="container-fluid navigation">
    <div class="row">
      <div class="col-xs-1">
        <a href="./index.html" class="site-brand"><img src="images/site-logo.png" width="40px" height="40px"></a>
      </div>
      <div class="col-sm-4 site-title hidden-xs">
        <a href="./index.html">Infinite Industries</a>
      </div>
      <div class="col-sm-2 hidden-xs"></div>
      <div class="col-sm-5 col-xs-11">
        <div class="nav-area">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid image-summary">
    <h2 class="call-to-share-and-donate">We would like to ask you to <em>share</em> the work on social media and <em>donate</em></h2>
    <h3>You don’t have to but you will definitely earn some good art karma points and our deep appreciation :)</h3>
  </div>


<div class="container-fluid share-and-donate">

  <div class="share-options">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finfinite.industries" target="_new"><img src="/images/facebook.png" width="40px" height="40px" class="social-media-icon"></a>

    <a href="https://twitter.com/intent/tweet?text=Check%20out%20the%20the%20work%20of%20Amanda%20Church%20on%20Infinite%20Industries%20http%3A%2F%2Finfinite.industries&via=1nfinite_1" target="_new"><img src="/images/twitter.png" width="40px" height="40px" class="social-media-icon"></a>
     extra points for
    <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new"><img src="/images/instagram.png" width="40px" height="40px" class="social-media-icon"></a>
    <div class="share-element">
      share and DM us <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new">@1nfinite_1ndustries</a>
    </div>
  </div>

  <div class="donate">
    <div class="donation-form-container">
      <div class="donation-input-element"> Choose Donation Amount: </div>
      <div class="donation-input-element"><input type="number" v-model="donationAmount"></div>
      <div class="donation-input-element"><a href="#" class="btn btn-info give-donation-btn" role="button" @click.prevent="processDonation()">GIVE</a></div>

      <p>
        We are a non-profit organization with 501(C)(3) status. All your donations are tax deductable.
      </p>
    </div>

  </div>
</div>


  <div class="container-fluid work-info">
    <p class="month">March-April 2017</p>
    <p class="title">Cartoon Bubble Sunset</p>
    <p class="artist-name">Amanda Church</p>

    <div class="img-container">
      <img src="/images/cartoon-bubble-sunset.jpg" width="250px" height="250px">
    </div>
  </div>


  <div class="container distribution-options">

    <div class="row distribution-description">
      <div class="col-md-2 col-sm-1"></div>

      <div class="col-md-3 col-sm-4">
        <div class="digital-download-content">
          <h3>Download Content:</h3>
          <ul>
              <li>2000 X 2000 JPEG</li>
              <li>5000 X 5000 JPEG</li>
              <li>FULL PRODUCTION REZ</li>
              <li><a href="http://infinite.industries/license/limited_license_agreement/" target="_new">License File</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-4">
        <div class="additional-description">
          <h3>Additional Options:</h3>
          <p>
            No hastle <a href="https://www.levelframes.com/frames/new?level_id=35502" target="_new">print production and framing</a>
          </p>
          <p>
            <a href="#" id="show-modal" @click="showContactModal = true">Contact us directly</a> for prints from the edition produced, proofed and signed by the artist
          </p>
        </div>
      </div>

      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="container-fluid download">
      <a href="#" class="btn btn-info init_download-btn" role="button" @click="showDownloadModal = true">GET DOWNLOAD LINK</a>
  </div>

  <footer class="footer">
    <div class="footer-area">
      <div class="container text-center">
        <ul class="social-media-list" style="padding-left:0px">
          <li>
            <a href="https://www.facebook.com/Infinite-Industries-1041120505976874/" target="_new" class="social-media-i"><i class="fa fa-facebook-official" style="font-size:40px"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new" class="social-media-i"><i class="fa fa-instagram" style="font-size:40px"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/1nfinite_1" target="_new" class="social-media-i"><i class="fa fa-twitter" style="font-size:40px"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/vee-validate@2.0.0-beta.25,vue@2.2.4"></script>

<script src="js/app.js"></script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '769304786590904'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=769304786590904&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
<transition name="modal">
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">

        <div class="modal-header">
          <div class="close-me" @click="$emit('close')">[hide]</div>
          <slot name="header">
            default header
          </slot>
        </div>
        <div class="modal-body">
          <slot>
            default body
          </slot>
        </div>
      </div>
    </div>
  </div>
</transition>
</script>

</body>
</html>
